/* ====================================================== */
/* === Containers                                     === */
/* ====================================================== */

.header {
    &__top-container {
        @include page-container;
        flex-basis: 56px;
    }

    &__logo-container {
        @include header-container(63%, left);
    }

    &__call-container {
        @include header-container(13%, right);
        @include flexy-center;
    }

    &__menu-container {
        @include header-container(25%, right);
    }
}

.carousel {
    @include layout-div;

    &__container {
        @include page-container;
        width: 94vw;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        position: absolute;
        top: 0;
        left: 3vw;
        z-index: 40;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: inline-block;
        background: linear-gradient(to left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 1) 100%);
    }
}

.services {
    @include layout-div;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    &__card {
        // @include service-color($card-colors);
        @include page-container;
        flex-direction: column;
        position: relative;
        height: auto;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
        padding: 30px;
    }

    &__icon-container {
        height: 60px;
        width: 60px;
        margin: 0 auto 17px;
        border-radius: 50%;
        background-color: #fff;
        color: #fff;
        text-align: center;
    }
}

.card {
    @include service($card-colors, $card-icons);
}