/* ====================================================== */
/* === Containers                                     === */
/* ====================================================== */

.header {
    &__top-container {
        @include page-container;
        @include flexy-center;
        flex-basis: 56px;
    }

    &__logo-container {
        @include header-container(63%, left);
    }

    &__call-container {
        @include header-container(13%, right);
        @include flexy-center;
    }

    &__menu-container {
        @include header-container(25%, right);
    }
}

.carousel {
    @include layout-div;

    &__container {
        @include page-container;
        @include flexy-center;
        width: 96vw;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        position: absolute;
        top: 0;
        left: 2vw;
        z-index: 40;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: inline-block;
        background: linear-gradient(to left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 1) 100%);
    }
}

%card-deck {
    flex-direction: column;
    gap: 2rem;
}

.services {
    @include layout-div;
    @include flexy-center;
    @extend %card-deck;

    &__icon-container {
        height: 60px;
        width: 60px;
        margin: 0 auto 17px;
        border-radius: 50%;
        background-color: #fff;
        color: #fff;
        text-align: center;
    }
}

.card {
    @include page-container;
    @include flexy-center;
    @include card;
    @include service($card-colors, $card-icons);

    &--latest {
        margin-top: 30px;
        align-items: flex-start;
    }
}

.about {
    @include layout-div;
    @include flexy-center;
    flex-direction: column;

    &__container {
        @include page-container;
    }
}

.latest {
    @include layout-div;
    @include flexy-center;
    flex-direction: column;
    
    &__heading-container {
        width: 100%;
        padding: 40px 0px;
        text-align: left;
        position: relative;
        box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
    }

    &__content-container {
        @extend %card-deck;
        @include page-container;
        padding-top: 20px;
    }
}
.poster {
    @include flexy-center;
    justify-content: left;
    width: 100%;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #ccc;
    &__details {
        padding-left: 20px;
    }
}