/* ====================================================== */
/* === Containers                                     === */
/* ====================================================== */

.header {
    &__top-container {
        @include page-container;
        @include flexy-center;
        height: 65px;
    }

    &--logo {
        flex-basis: 62%;

        @include medium {
            flex-basis: 48%;
            margin-right: auto;
        }
    }

    &--links {
        flex-basis: 42px;
        margin-left: auto;
        justify-content: right;

        @include medium {
            display: none;
        }
    }

    &--menu {
        flex-basis: 63px;
        margin-left: 20px;

        @include medium {
            order: 2;
        }
    }

    &--search {
        order: 1;

        @include medium {
            flex-basis: 237px;
            order: 1;
            margin-left: auto;
        }
    }

    &__hamburger-container {
        display: flex;
        width: 63px;
        height: 56px;
    }
}

.carousel {
    @include layout-div;
    padding-top: 0;

    &__container {
        @include page-container;
        @include flexy-center;
        width: 96vw;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        position: absolute;
        top: 0;
        left: 2vw;
        z-index: 40;
        @include medium {
            left: calc((100vw - 720px) / 2);
        }
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: inline-block;
        background: linear-gradient(to left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 1) 100%);
    }
}

%card-deck {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include medium {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        width: 720px;
        margin: 0 auto;
    }
}

.services {
    @include layout-div;
    @include flexy-center;
    @extend %card-deck;

    &__icon-container {
        height: 60px;
        width: 60px;
        margin: 0 auto 17px;
        border-radius: 50%;
        background-color: #fff;
        color: #fff;
        text-align: center;
    }

    @include medium {
        padding-left: calc((100vw - 720px) / 2);
        padding-right: calc((100vw - 720px) / 2);
    }
}

.card {
    @include page-container;
    @include flexy-center;
    @include card;
    @include service($card-colors, $card-icons);

    &--latest {
        margin-top: 30px;
        align-items: flex-start;
    }

    @include medium {

        &--bespoke,
        &--it,
        &--marketing {
            width: 720px;
            height: 290px;
        }

        &--latest {
            width: 345px;
        }

        &--telecoms,
        &--web,
        &--security,
        &--training {
            width: 344px;
            height: 312px;
            // margin: 0;
        }
    }
}

.about {
    @include layout-div;
    @include flexy-center;
    flex-direction: column;

    &__container {
        @include page-container;
    }
}

.latest {
    @include layout-div;
    @include flexy-center;
    flex-direction: column;
    padding-top: 0;

    &__heading-container {
        width: calc(100% + 30px);
        padding: 40px 0px;
        text-align: left;
        position: relative;
        box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
    }

    &__content-container {
        @extend %card-deck;
        @include page-container;
        padding-top: 20px;

        @include medium {
            .card:nth-of-type(3) {
                display: none;
            }
        }
    }
}

.poster {
    @include flexy-center;
    justify-content: left;
    width: 100%;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #ccc;

    &__details {
        padding-left: 20px;
    }
}

.clients {
    @include layout-div;
    box-shadow: none;

    &__container {
        @include page-container;
        @include flexy-center;
    }

    &__client {
        display: inline-block;
        width: auto;
        padding: 0 20px;
        height: 45px;
    }
}

.news-form {
    &__inputs-container {
        display: flex;
        flex-direction: column;
    }
}

.footer {
    @include layout-div;
    @include flexy-center;
    flex-direction: column;

    &__sub-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__main-container {
        @include page-container;
        // @include flexy-center;
        display: flex;
        flex-direction: column;
    }

    &__block {
        width: 225px;
        margin-bottom: 30px;
    }

    &__bottom {
        @include page-container;
        display: flex;
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid $color-footer-border;
    }

    &__social-container {
        display: flex;
        flex: 0 0 132px;
        margin-left: auto;
    }

    &__divider {
        flex: 0 0 8%;
    }

    &__sitemap {
        flex: 0 0 17%;
    }

    &__copy {
        flex: 1 1 auto;
        max-width: max-content;
    }
}

.partners {
    display: none;
    justify-content: center;
    background-color: #fff;
    width: 100vw;
    height: 264px;
    padding: 50px 0;
    @include medium {
        display: flex;
    }

    &__container {
        display: grid;
        width: calc(100vw - 48px);
        max-width: 750px;
        max-height: 165px;
        grid-template-rows: 50% 34%;
        row-gap: 16%;
        margin: 0 24px;
        padding: 0 15px;
    }

    &__item {
        width: max-content;
        justify-content: center;
        padding: 0 20px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        width: calc(100% - 30px);
    }
}

.row--first {
    grid-row: 1;
}

.row--second {
    grid-row: 2;

    div {
        width: 180px;
    }
}