// ======================================
//  Footer Styles
// ======================================

footer {
    background-color: $color-primary;
    color: #fff;
    padding: 47px 0 0;

    br {
        @include medium {
            display: none;
        }
    }
}