// ======================================
//  Footer Styles
// ======================================

footer {
    background-color: $color-primary;
    color: #fff;

    br {
        @include medium {
            display: none;
        }
    }
}