/* ====================================================== */
/* === Header                                         === */
/* ====================================================== */

header {
    @include small {
        @include flexy-center;
        justify-content: center;
    }
}

.header {
    @include flexy-center;
    flex-wrap: wrap;
    width: 100%;
    height: 168px;
    justify-content: center;
    padding: 15px;
    @include small {
        align-items: center;
        height: 110px;
        width: 750px;
        padding: 20px;
    }
}