/* ====================================================== */
/* === Sections                                       === */
/* ====================================================== */

#about {
    width: 100%;
    height: calc(100vh - 166px);
    min-height: 530px;
    background-color: $color-input-back;
}