/* ====================================================== */
/* === Sections                                       === */
/* ====================================================== */

section {
    width: 100%;
    background-color: $color-background;
}

#about {
    height: calc(100vh - 166px);
    min-height: 530px;
}

#services {
    padding: 50px 0;
}