/* ====================================================== */
/* === Sections                                       === */
/* ====================================================== */

section {
    width: 100%;
    padding: 50px 0;
    background-color: #fff;
}

#banner {
    padding: 0;
    height: calc(100vh - 166px);
    min-height: 530px;
    @include small {
        height: calc(100vh - 110px);
        min-height: 589px;
    }
}

#about {
    background-color: $color-primary;
    color: #fff;
}

#latest {
    padding-top: 0;
}

#newsletter {
    padding: 0 15px;
    color: $color-primary;
    background-color: $color-tertiary;
}