@charset "UTF-8";
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* ====================================================== */
/* === Helper Placeholders                            === */
/* ====================================================== */
/* ====================================================== */
/* === Base Styles                                    === */
/* ====================================================== */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #333645;
}

input,
textarea,
select {
  font-family: inherit;
}

/* ====================================================== */
/* === Header                                         === */
/* ====================================================== */
header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 168px;
  justify-content: center;
  align-items: center;
  gap: 14px;
  padding-top: 12px;
}

/* ====================================================== */
/* === Containers                                     === */
/* ====================================================== */
.top-container {
  display: flex;
  align-items: center;
  width: 92vw;
  max-width: 1072px;
  flex-basis: 56px;
}

.logo-container {
  display: flex;
  flex-basis: 63%;
  align-items: center;
  height: 100%;
  justify-items: left;
}

.call-container {
  display: flex;
  flex-basis: 13%;
  align-items: center;
  height: 100%;
  justify-items: right;
  display: flex;
  align-items: center;
}

.menu-container {
  display: flex;
  flex-basis: 25%;
  align-items: center;
  height: 100%;
  justify-items: right;
}

.about-container {
  display: flex;
  align-items: center;
  width: 92vw;
  max-width: 1072px;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  position: absolute;
  top: 0;
  left: 4vw;
  z-index: 40;
}

.about-carousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.about-carousel::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.4) 0%, black 100%);
}

.services-card-deck {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.services-card-bespoke {
  display: flex;
  align-items: center;
  width: 92vw;
  max-width: 1072px;
  flex-direction: column;
  position: relative;
  height: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  padding: 30px;
}
.services-card-bespoke:hover {
  background-color: #67809f;
  color: #fff;
}
.services-card-bespoke:hover div {
  background-color: #fff;
  color: #67809f;
}
.services-card-bespoke:hover .services-card-header::after {
  background-color: #fff;
}
.services-card-icon-container-bespoke {
  height: 60px;
  width: 60px;
  margin: 0 auto 17px;
  border-radius: 50%;
  background-color: #67809f;
  color: #fff;
  text-align: center;
}
.services-card-it {
  display: flex;
  align-items: center;
  width: 92vw;
  max-width: 1072px;
  flex-direction: column;
  position: relative;
  height: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  padding: 30px;
}
.services-card-it:hover {
  background-color: #4183d7;
  color: #fff;
}
.services-card-it:hover div {
  background-color: #fff;
  color: #4183d7;
}
.services-card-it:hover .services-card-header::after {
  background-color: #fff;
}
.services-card-icon-container-it {
  height: 60px;
  width: 60px;
  margin: 0 auto 17px;
  border-radius: 50%;
  background-color: #4183d7;
  color: #fff;
  text-align: center;
}
.services-card-marketing {
  display: flex;
  align-items: center;
  width: 92vw;
  max-width: 1072px;
  flex-direction: column;
  position: relative;
  height: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  padding: 30px;
}
.services-card-marketing:hover {
  background-color: #2ecc71;
  color: #fff;
}
.services-card-marketing:hover div {
  background-color: #fff;
  color: #2ecc71;
}
.services-card-marketing:hover .services-card-header::after {
  background-color: #fff;
}
.services-card-icon-container-marketing {
  height: 60px;
  width: 60px;
  margin: 0 auto 17px;
  border-radius: 50%;
  background-color: #2ecc71;
  color: #fff;
  text-align: center;
}
.services-card-telecoms {
  display: flex;
  align-items: center;
  width: 92vw;
  max-width: 1072px;
  flex-direction: column;
  position: relative;
  height: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  padding: 30px;
}
.services-card-telecoms:hover {
  background-color: #d64541;
  color: #fff;
}
.services-card-telecoms:hover div {
  background-color: #fff;
  color: #d64541;
}
.services-card-telecoms:hover .services-card-header::after {
  background-color: #fff;
}
.services-card-icon-container-telecoms {
  height: 60px;
  width: 60px;
  margin: 0 auto 17px;
  border-radius: 50%;
  background-color: #d64541;
  color: #fff;
  text-align: center;
}
.services-card-web {
  display: flex;
  align-items: center;
  width: 92vw;
  max-width: 1072px;
  flex-direction: column;
  position: relative;
  height: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  padding: 30px;
}
.services-card-web:hover {
  background-color: #926fb1;
  color: #fff;
}
.services-card-web:hover div {
  background-color: #fff;
  color: #926fb1;
}
.services-card-web:hover .services-card-header::after {
  background-color: #fff;
}
.services-card-icon-container-web {
  height: 60px;
  width: 60px;
  margin: 0 auto 17px;
  border-radius: 50%;
  background-color: #926fb1;
  color: #fff;
  text-align: center;
}
.services-card-security {
  display: flex;
  align-items: center;
  width: 92vw;
  max-width: 1072px;
  flex-direction: column;
  position: relative;
  height: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  padding: 30px;
}
.services-card-security:hover {
  background-color: #f62459;
  color: #fff;
}
.services-card-security:hover div {
  background-color: #fff;
  color: #f62459;
}
.services-card-security:hover .services-card-header::after {
  background-color: #fff;
}
.services-card-icon-container-security {
  height: 60px;
  width: 60px;
  margin: 0 auto 17px;
  border-radius: 50%;
  background-color: #f62459;
  color: #fff;
  text-align: center;
}
.services-card-training {
  display: flex;
  align-items: center;
  width: 92vw;
  max-width: 1072px;
  flex-direction: column;
  position: relative;
  height: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  padding: 30px;
}
.services-card-training:hover {
  background-color: #926fb1;
  color: #fff;
}
.services-card-training:hover div {
  background-color: #fff;
  color: #926fb1;
}
.services-card-training:hover .services-card-header::after {
  background-color: #fff;
}
.services-card-icon-container-training {
  height: 60px;
  width: 60px;
  margin: 0 auto 17px;
  border-radius: 50%;
  background-color: #926fb1;
  color: #fff;
  text-align: center;
}

/* ====================================================== */
/* === Sections                                       === */
/* ====================================================== */
section {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

#about {
  height: calc(100vh - 166px);
  min-height: 530px;
}

#services {
  padding: 50px 0;
}

/* ====================================================== */
/* === Buttons                                        === */
/* ====================================================== */
/* Hamburger Nav Button */
.hamburger {
  background-color: #333645;
  border-radius: 3px;
  height: 100%;
  width: 63px;
  margin-left: auto;
  padding-top: 10px;
}
.hamburger :nth-child(2) {
  margin: 5px auto;
}
.hamburger:hover {
  background-color: #222;
}
.hamburger-slice {
  width: 33px;
  height: 3px;
  background-color: #fff;
  margin: 0 auto;
}
.hamburger-text {
  margin-top: 7px;
  font-size: 0.75rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

/* Other buttons */
div[class^=services-card-button], .btn-cta {
  display: inline-block;
  height: auto;
  font-size: 1.25rem;
  line-height: 50px;
  text-transform: uppercase;
  padding: 5px 20px;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.btn-cta {
  background-color: #926fb1;
}

div[class^=services-card-button] {
  font-size: 1.06rem;
  line-height: 35px;
}

.services-card-button-bespoke {
  background-color: #67809f;
  color: inherit;
}
.services-card-button-it {
  background-color: #4183d7;
  color: inherit;
}
.services-card-button-marketing {
  background-color: #2ecc71;
  color: inherit;
}
.services-card-button-telecoms {
  background-color: #d64541;
  color: inherit;
}
.services-card-button-web {
  background-color: #926fb1;
  color: inherit;
}
.services-card-button-security {
  background-color: #f62459;
  color: inherit;
}
.services-card-button-training {
  background-color: #926fb1;
  color: inherit;
}

/* ====================================================== */
/* === Icons                                          === */
/* ====================================================== */
.call-icon {
  display: flex;
  align-items: center;
  margin-left: auto;
  border-bottom: solid 2px #fff;
}
.call-icon::before {
  font-family: "icomoon";
  font-size: 1.5rem;
  color: #333645;
  content: "";
}
.call-icon:hover {
  color: #222;
  border-bottom: solid 2px #222;
}
.call-icon:hover:before {
  color: #222;
}

.right-arrow {
  float: right;
  margin: 0 -4px 0 12px;
}
.right-arrow::before {
  font-family: "icomoon";
  content: "";
}

.services-card-icon-bespoke {
  font-family: "icomoon", serif;
  font-size: 1.2rem;
  line-height: 58px;
  color: inherit;
}
.services-card-icon-bespoke::before {
  content: "";
}
.services-card-icon-it {
  font-family: "icomoon", serif;
  font-size: 1.2rem;
  line-height: 58px;
  color: inherit;
}
.services-card-icon-it::before {
  content: "";
}
.services-card-icon-marketing {
  font-family: "icomoon", serif;
  font-size: 1.2rem;
  line-height: 58px;
  color: inherit;
}
.services-card-icon-marketing::before {
  content: "";
}
.services-card-icon-telecoms {
  font-family: "icomoon", serif;
  font-size: 1.2rem;
  line-height: 58px;
  color: inherit;
}
.services-card-icon-telecoms::before {
  content: "";
}
.services-card-icon-web {
  font-family: "icomoon", serif;
  font-size: 1.2rem;
  line-height: 58px;
  color: inherit;
}
.services-card-icon-web::before {
  content: "";
}
.services-card-icon-security {
  font-family: "icomoon", serif;
  font-size: 1.2rem;
  line-height: 58px;
  color: inherit;
}
.services-card-icon-security::before {
  content: "";
}
.services-card-icon-training {
  font-family: "icomoon", serif;
  font-size: 1.2rem;
  line-height: 58px;
  color: inherit;
}
.services-card-icon-training::before {
  content: "";
}

/* ====================================================== */
/* === Images                                         === */
/* ====================================================== */
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 100%;
}

.about-carousel img {
  display: block;
  height: 100%;
  transform: translate(calc(-50% + 50vw));
}

/* ====================================================== */
/* === Nav                                            === */
/* ====================================================== */
.about-nav {
  display: flex;
  justify-content: space-around;
  z-index: 40;
  position: absolute;
  bottom: 14px;
  width: 185px;
  height: 50px;
}
.about-nav-dot {
  position: relative;
  width: 11px;
  height: 11px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
}
.about-nav-dot.active {
  background-color: #fff;
}
.about-nav-dot.active::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.search-form {
  display: flex;
  align-items: center;
  width: 100%;
  height: 47px;
  padding: 6px 10px 5px 15px;
  background-color: rgba(0, 0, 0, 0.1);
  outline: 1px solid rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
}
.search-form input {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 0.9rem;
}
.search-form a {
  margin-left: auto;
  border: none;
  background-color: transparent;
}
.search-form a span {
  font-family: "glyphicons", sans-serif;
  font-size: 1.25rem;
}
.search-form a span::before {
  content: "";
}

/* ====================================================== */
/* === Typography                                     === */
/* ====================================================== */
.about-title {
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.about-text {
  font-size: 1.25rem;
  line-height: 2.25rem;
  margin: 0 0 35px;
  color: #fff;
  text-align: center;
}

.services-card-header {
  font-size: 1.125rem;
  font-weight: 400;
  padding-bottom: 17px;
  margin-bottom: 11px;
  display: block;
}
.services-card-header::after {
  content: "";
  position: relative;
  bottom: -17px;
  margin: auto;
  width: 28px;
  height: 3px;
  display: block;
  background-color: #333645;
}

.services-card-content {
  display: block;
  font-size: 0.8125rem;
  line-height: 1.375rem;
  margin-bottom: 13px;
  font-weight: 400;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
