/* ====================================================== */
/* === Buttons                                        === */
/* ====================================================== */

/* Hamburger Nav Button */

.hamburger {
    background-color: $color-primary;
    border-radius: 3px;
    height: 100%;
    width: 63px;
    margin-left: auto;
    padding-top: 10px;

    :nth-child(2) {
        margin: 5px auto;
    }

    &:hover {
        background-color: $color-hover;
    }

    &__slice {
        width: 33px;
        height: 3px;
        background-color: #fff;
        margin: 0 auto;
    }

    &__text {
        margin-top: 7px;
        font-size: 0.75rem;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
    }
}

/* Other buttons */

.button {
    display: inline-block;
    height: auto;
    font-size: 1.25rem;
    line-height: 50px;
    text-transform: uppercase;
    padding: 5px 18px;
    color: #fff;
    border-radius: 3px;
    background-color: $color-button;
    cursor: pointer;

    &--cta {
        background-color: map-get($map: $card-colors, $key: 'web');
    }

    &--services {
        font-size: 1.06rem;
        line-height: 35px;
    }
}