/* ====================================================== */
/* === Images                                         === */
/* ====================================================== */


.header__logo-img {
    width: 100%;
}

.carousel__image {
    display: block;
    height: 100%;
    transform: translate(calc(-50% + 50vw));
}