/* ====================================================== */
/* === Typography                                     === */
/* ====================================================== */

.about-title {
    color: #fff;
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.about-text {
    font-size: 1.25rem;
    line-height: 2.25rem;
    margin: 0 0 35px;
    color: #fff;
    text-align: center;
}