// Media queries
@mixin mq($break) {
    $value: map-get($breakpoints, $break);
    $sm: map-get($breakpoints, 'sm');

    @if $value==null {
        @error "#{$break} is not a valid breakpopint name.";
    }

    @else if $value < $sm {
        @media (max-width: $value) {
            @content;
        }
    }

    @else {
        @media (min-width: $value) {
            @content;
        }
    }
}

// Page container flex attributes
@mixin page-container {
    width: calc(100vw - 30px);
    max-width: 1072px;
}

// Header container flex attributes
@mixin header-container($grow, $shrink, $basis, $direction) {
    display: flex;
    flex: $grow $shrink $basis;
    align-items: center;
    height: 100%;
    justify-items: $direction;
}

// Center all flex items
@mixin flexy-center {
    display: flex;
    align-items: center;
}

// Main section layout container
@mixin layout-div {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0 15px;
}

// Card container
@mixin card {
    flex-direction: column;
    position: relative;
    height: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

// Colors
@mixin service($colors, $icons) {

    @each $theme,
    $color in $colors {
        &--#{$theme} {
            .services__icon-container {
                background-color: $color;
            }

            .button--services {
                background-color: $color;
                }

            &:hover {
                background-color: $color;
                color: #fff;

                div {
                    background-color: #fff;
                    color: $color;
                }

                .services__header::after {
                    background-color: #fff;
                }
            }
        }
    }

    @each $theme,
    $icon in $icons {
        &--#{$theme} {
            .services__icon {
                &::before {
                    content: $icon;
                }
            }
        }
    }
}