// // Variables

// Breakpoints
$breakpoints: ('xs': 575px,
    'sm': 576px,
    'med': 768px,
    'lg': 992px,
);

// Colors
$color-background: rgba(0, 0, 0, .1);
$color-primary: #333645;
$color-button: #bbbfbc;
$color-hover: #222;
$color-input-outline: hsla(0, 0%, 100%, .2);
$color-input-border: rgba(0, 0, 0, .1);

// Card colors

$card-colors: (
    'bespoke' : #67809f,
    'it': #4183d7,
    'marketing': #2ecc71,
    'telecoms': #d64541,
    'web': #926fb1,
    'security': #f62459,
    'training': #926fb1,
    );

$card-icons: (
    'bespoke' : '\eafb',
    'it': '\ea17',
    'marketing': '\ea7c',
    'telecoms': '\e9e5',
    'web': '\ec40',
    'security': '\ead6',
    'training': '\ec41',
    );



