// Partials imports
@import 'reset/normalize';

// // Variables
// Breakpoints
$breakpoints: ('xs': 575px,
    'sm': 576px,
    'med': 768px,
    'lg': 992px,
);

// Colors
$color-primary: #333645;

// Media queries
@mixin mq($break) {
    $value: map-get($breakpoints, $break);
    $sm: map-get($breakpoints, 'sm');

    @if $value==null {
        @error "#{$break} is not a valid breakpopint name.";
    }

    @else if $value < $sm {
        @media (max-width: $value) {
            @content;
        }
    }

    @else {
        @media (min-width: $value) {
            @content;
        }
    }
}

// mixins

@mixin header-container {
    display: flex;
    align-items: center;
    height: 100%;
}

/* ====================================================== */
/* === Base Styles                                    === */
/* ====================================================== */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

html {
    font-size: $base-font-size;
}

/* ====================================================== */
/* === Header                                         === */
/* ====================================================== */

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 168px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* ====================================================== */
/* === Layout                                         === */
/* ====================================================== */

.container {
    display: flex;
    flex-basis: 56px;
    align-items: center;
    width: 90vw;
    max-width: 1072px;
    div {
        @include header-container;
    }
}

.logo-container {
    flex-basis: 65%;
    img {
        width: 100%;
    }
}

.call-container {
    flex-basis: 15%;
    justify-items: right;
}


.call-icon {
    margin-left: auto;
    &::before {
        font-family: 'icomoon';
        font-size: 1.5rem;
        color: $color-primary;
        content: "\e9e5"
    }
}

.menu-container {
    flex-basis: 20%;
}

.hamburger {
    background-color: $color-primary;
    border-radius: 3px;
}

.search-box {
    width: 100%;
}