// Partials imports
@import 'reset/normalize/import-now';

// // Variables

// Breakpoints
$breakpoints: ('xs': 575px,
    'sm': 576px,
    'med': 768px,
    'lg': 992px,
);

// Colors
$color-primary: #333645;
$color-hover: #222;
$color-input-back: rgba(0,0,0,.1);
$color-input-outline: hsla(0,0%,100%,.2);
$color-input-border: rgba(0,0,0,.1);

// Media queries
@mixin mq($break) {
    $value: map-get($breakpoints, $break);
    $sm: map-get($breakpoints, 'sm');

    @if $value==null {
        @error "#{$break} is not a valid breakpopint name.";
    }

    @else if $value < $sm {
        @media (max-width: $value) {
            @content;
        }
    }

    @else {
        @media (min-width: $value) {
            @content;
        }
    }
}

// mixins

@mixin header-container($basis, $direction) {
    display: flex;
    flex-basis: $basis;
    align-items: center;
    height: 100%;
    justify-items: $direction;
}

@mixin flexy-center {
    display: flex;
    align-items: center;
}

/* ====================================================== */
/* === Base Styles                                    === */
/* ====================================================== */

* {
    box-sizing: border-box;
}

body {
    
    margin: 0;
}

html {
    font-size: $base-font-size!important;
    font-family: 'Poppins', sans-serif!important;
}

a {
    text-decoration: none;
    color: $color-primary;
}

input, textarea, select {
    font-family: inherit;
}

/* ====================================================== */
/* === Header                                         === */
/* ====================================================== */

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 168px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* ====================================================== */
/* === Layout                                         === */
/* ====================================================== */

.container {
    @include flexy-center;
    flex-basis: 56px;
    width: 90vw;
    max-width: 1072px;
    }

.logo-container {
    @include header-container(65%, left);
    }

.logo {
    @include flexy-center;
    img {
        width: 100%;
        }
}

.call-container {
        @include header-container(13%, right);
}


.call-icon {
    @include flexy-center;
    margin-left: auto;
    border-bottom: solid 2px #fff;
    &::before {
        font-family: 'icomoon';
        font-size: 1.5rem;
        color: $color-primary;
        content: "\e9e5";
    }
    &:hover {
        color: $color-hover;
        border-bottom: solid 2px $color-hover;
        &:before {
            color: $color-hover;
        }
    }
}

.menu-container {
    @include header-container(22%, right);
}

.hamburger {
    background-color: $color-primary;
    border-radius: 3px;
    height: 100%;
    width: 63px;
    margin-left: auto;
    padding-top: 10px;
    :nth-child(2) {
        margin: 5px auto;
    }
    &:hover {
        background-color: $color-hover;
    }
}

.burger-slice {
    width: 33px;
    height: 3px;
    background-color: #fff;
    margin: 0 auto;
}

.burger-text {
    font-size: 0.75rem;
    margin-top: 5px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.search-form {
    @include flexy-center;
    width: 100%;
    height: 47px;
    padding: 5px 10px 5px 15px;
    background-color: $color-input-back;
    outline: 1px solid $color-input-outline;
    border: 2px solid $color-input-border;
    input {
        border: none;
        outline: none;
        background-color: transparent;
    }
    a {
        margin-left: auto;
        border: none;
        background-color: transparent;
        span {
            font-family: 'glyphicons', sans-serif;
            font-size: 1.25rem;
            &::before {
                content: "\e003"
            }
        }
    }
}
